.path {
  font-size: larger;
  text-decoration: underline;
}

.description {
  font-size: medium;
  text-align: center;
}

.actions {
  text-align: center;
}

h1 {
  font-size: xx-large;
  text-align: center;
}
