.details {
  text-align: left;
}

.title {
  font-size: xx-large;
}

.description {
  font-size: medium;
  font-weight: normal;
}

.path {
  font-size: large;
}
.path a {
  text-decoration: underline;
}

.actions {
  text-align: center;
}
