.button {
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #c2fafa;
}

.button:disabled {
  pointer-events: none;
  background-color: rgb(197, 196, 196);
}

.buttonHeader {
  font: inherit;
  color: black;
  border: 1px solid black;
  background-color: rgb(203, 203, 203);
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin: 10px;
}

.buttonHeader:hover {
  background-color: #96a7a7;
}
