.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
}

.title {
  font-size: 2rem;
  color: white;
}

.link {
  text-decoration: none;
}

.actions {
  padding-right: 20%;
}

.test {
  font: inherit;
  color: #3f3f3f;
  border: 1px solid #3f3f3f;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin: 10px;
}

.test:hover {
  background-color: #c2fafa;
}
