.loading {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 90%;
}

.loading:after {
  position: absolute;
  right: 40%;
  content: ' ';
  display: block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid teal;
  border-color: teal transparent teal transparent;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
